h3 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}
body {
    object-position: center;
    text-align: center;
    background-color: #eeddc7;
    font-family: 'Roboto', sans-serif;
}
#img1 {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow-y: hidden;
}
#toolbar {
    object-position: center;
    float: right;
}
.btn {
    object-position: center;
    background-color: #a4d0bd;
    color: black;
    font-weight: bold;
}
.form-select {
    width: 30%;
    display:inline-block;
    float: none;
    text-align: center;
}
#continue {
    background-color: #9ab0a6;
    font-weight: normal;
}
#img2,#img3,#img4,#img5 {
    background-color: #a4d0bd;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    overflow-y: hidden;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
}
/*.row::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/
