body {
    background: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80") no-repeat fixed center center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-align: center;
    border-radius: 25px;
}

form {
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}

#login {
    background-color: #a4d0bd;
    font-size: 20px;
}

#signup {
    background-color: #9ab0a6;
    font-size: 16px;
}

.input-group {
    width: 30%;
    justify-content: center;
    margin: auto;
}

.input-group-addon {
    background-color: #a4d0bd;
}


