h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}
#update {
    background-color: #9ab0a6;
}
#add {
    background-color: #9ab0a6;
}
th {
    background-color: #9ab0a6;
}
body {
    background-color: #eeddc7;
}