<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>User List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto&display=swap"
          rel="stylesheet">
    <style>
        body {
            background-color: #eeddc7;
        }
        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 60px;
        }
        #update {
            background-color: #9ab0a6;
        }
        #add {
            background-color: #9ab0a6;
        }
        th {
            background-color: #9ab0a6;
        }
    </style>
</head>
<body>

<div class="container my-2">
    <h1>Brew History</h1><br>

    <a th:href="@{/form}" class="btn btn-sm btn-light mb-3" id="add"> Create New Brew </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Brew Method</th>
            <th>Cups</th>
            <th>Coffee Amount(g)</th>
            <th>Water Amount(g)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brewResults : ${listBrewResults}">
            <td th:text="${brewResults.methodName}"></td>
            <td th:text="${brewResults.cups}"></td>
            <td th:text="${brewResults.coffee}"></td>
            <td th:text="${brewResults.water}"></td>
            <td> <a th:href="@{/showFormForBrewUpdate/{id}(id=${brewResults.id})}" class="btn btn-light" id="update">Update</a>
                <form th:action="@{/deleteBrew/{id}(id=${brewResults.id})}" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/login.html}" id="index">Logout</a>
</div>
</body>

</html>