<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" type="text/css" href="mystyle.css">-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!--    <link rel="stylesheet" href="/style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/register.css">

</head>
<body>
</div>
<div th:if="${param.success}">
    <div class="alert alert-info">You've successfully registered
        to our awesome app!</div>
</div>
<br>
<h1>Tell us a little about yourself.</h1><br><br>
<h2>Personal Information</h2>
<!--<form id="form1" action="#" th:action="@{/saveUserList}" th:object="${userList}" method="POST">-->
<form id="form1" action="#" th:action="@{/registration}" th:object="${user}" method="POST">

    <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
       th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
        error</p>

    <div class="input-group"
         th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">>
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="fname" type="text" th:field="*{firstName}" class="form-control" name="fname" placeholder="First Name">
        <p class="error-message"
           th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div class="input-group"
         th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">>
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="lname" type="text" th:field="*{lastName}" class="form-control" name="lname" placeholder="Last Name">
        <p class="error-message"
           th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div class="input-group"
         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">>
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="email" type="text" th:field="*{email}" class="form-control" name="email" placeholder="Email">
        <p class="error-message"
           th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
            error</p>
    </div>
    <div class="input-group"
         th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">>
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="confirmEmail" type="text" th:field="*{confirmEmail}" class="form-control" name="email" placeholder="Confirm Email">
        <p class="error-message"
           th:each="error : ${#fields.errors('confirmEmail')}"
           th:text="${error}">Validation error</p>
    </div>
    <div class="input-group"
         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">>
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="text" th:field="*{password}" class="form-control" name="email" placeholder="Password">
        <p class="error-message"
           th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div class="input-group"
         th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="confirmPassword" type="text" th:field="*{confirmPassword}" class="form-control" name="email" placeholder="Confirm Password">
        <p class="error-message"
           th:each="error : ${#fields.errors('confirmPassword')}"
           th:text="${error}">Validation error</p>
    </div>
    <div class="form-group"
         th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
        <input id="terms" type="checkbox" th:field="*{terms}" />   <label
            class="control-label" for="terms"> I agree with the <a
            href="#">terms and conditions</a> for Registration.
    </label>
        <p class="error-message"
           th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
            error</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Register</button>
        <span>Already registered? <a href="/" th:href="@{/login}">Login
                       here</a></span>
    </div>

    <h2>Preferred Coffee Method:</h2>
    <select class="form-select" th:field="*{method}" aria-label="Default select">
<!--        <option selected="">Preferred Coffee Method</option>-->
        <option th:value="'Coffee Machine'" th:text="Coffee-Machine">Coffee Machine</option>
        <option th:value="'Pour-over'" th:text="Pour-over">Pour-over</option>
        <option th:value="'French Press'" th:text="French-Press">French Press</option>
        <option th:value="'Aeropress'" th:text="Aeropress">Aeropress</option>
    </select><br><br>

    <button type="submit" class="btn btn-lg" id="sButton">Submit</button><br><br>
    <a th:href="@{/userList}" id="userlist">Back to User List</a>
</form>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
<script type="text/javascript" src="/static/css/javascript/script.js"></script>
</html>
